*{
    box-sizing: border-box;
}
body{
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    font-family: "Outfit", sans-serif;

}


.container {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;
}
.QR{
    
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    max-width:270px;   
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.139) 3px 3px 9px ;
     
   
}
.QR-img{
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;
    width: 100%;
    padding: 10px 10px 0px;
}
.QR-img img{
    
    width: 100%;
    max-width: 250px;
    height:auto;
    border-radius: 10px;
    margin:0px;
   
}
.QR p{
    font-weight: 400;
    font-size: 0.875rem;
    color: hsl(0, 0%, 40%);
    text-align: center;
    margin: 0 20px 30px;
    line-height: 1.3;
}
.QR h1{
    font-weight: 700;
    font-size: large;
    margin: 24px 20px 16px;
    text-align: center;

    
}
@media (max-width:375px){
    .QR{
        width:90%;
    }
}